Options -Indexes

<IfModule mod_php8.c>
  php_value upload_max_filesize 5M
  php_value post_max_size 6M
</IfModule>

<IfModule mod_php.c>
  php_value upload_max_filesize 5M
  php_value post_max_size 6M
</IfModule>

